* {
    padding: 0px;
    margin: 0px;
}

img {
    max-width: 100%;
}


.feature img {
    width: 100%;
    height: 700px;
    object-fit: fill;
}

.owl-theme .owl-nav {
    position: relative;
}

.owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 14px;
    margin: 0px;
    padding: 0px 2px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    font-size: 144px !important;
}

.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    color: #fff;
    /* padding: 0 !important;
    font: inherit; */
    right: 30px;
    top: -500px;
}

.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    color: #fff;
    /* padding: 0 !important;
    font: inherit; */
    left: 30px;
    top: -500px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: black;
    transition: 0.3s ease-in-out;
}

.owl-theme .owl-dots {
    display: none;
}